<tr>
  <td>
    <% if cart_item.product.image? %>
        <%= image_tag cart_item.product.image.url, class: "img-cart-item" %>
      <% else %>
        <%= image_tag "apple_logo_grey.svg.png", class: "img-cart-item" %>
      <% end %>
    <b><%= cart_item.product.name %></b>
  </td>
  <td class="align-middle">
    <b><%= format_number_to_currency cart_item.product.price %> đ</b>
  </td>
  <td class="align-middle">
    <div class="quantity">
      <input type="hidden" class="product-id" data-product-id="<%= cart_item.product.id %>">
      <input value=<%= cart_item.quantity %> min="0" max=<%= cart_item.product.residual %>
      class="form-control text-center change-quatity cart-item-qty"
      type="number" name="quantity" id="quantity" data-cart-item-id="<%= cart_item.id %>">
      <input value="1" class="cart_product_id" type="hidden" name="id" id="id">
    </div>
  </td>
  <td class="align-middle total-of-cart-item-<%= cart_item.id %>">
    <b><%= format_number_to_currency cart_item.total_price %> đ</b>
  </td>
  <td class="align-middle delete-cart-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= image_tag "icons-delete-25" %>
  </td>
</tr>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notify</h5>
      </div>
      <div class="modal-body">
        Item has been <span style="color: red;">DELETED</span> to your shopping cart
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
