<tr>
  <td><%= user.id %></td>
  <td>
    <%= link_to admin_user_path(user.id), class: "user-name" do %>
      <%= user.name %>
    <% end %>
  </td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.gender %></td>
  <td><%= user.role %></td>
  <td>
    <input type="checkbox" hidden="hidden" id="username">
    <label class="switch" for="username"></label>
  </td>
</tr>
